<div class="container">
    <span class="d-flex align-items-center flex-column mt-2">    
        <h2>Canciones</h2>
        <hr style="width: 70vw;">
    </span>
    <div class="row d-flex justify-content-start mx-4">
        <a class="btn col-6 mb-2 plus" style="margin-top: -5px"
            routerLink="../agregar">
            <div class="card w-100" style="width: 18rem;">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #D8D9CF; height: 125px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#EDEDED" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
            </div>
        </a>
        <div class="col-6">
            <div class="card w-100" style="width: 18rem;">
                <div class="card-body">
                    <span class="d-flex justify-content-between">
                        <h5 class="card-title">Titulo</h5>
                        <span>
                            <button class="btn" [routerLink]="['/canciones/editar', 0]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FCE700" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                            <button class="btn text-center ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#E26868" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </span>
                    </span>
                    <h6 class="card-subtitle mb-2 text-muted">Cantante</h6>
                    <a href="#" class="btn btn-danger">Youtube</a>
                    <a href="#" class="btn btn-success ms-2">Spotify</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card w-100" style="width: 18rem;">
                <div class="card-body">
                    <span class="d-flex justify-content-between">
                        <h5 class="card-title">Titulo</h5>
                        <span>
                            <button class="btn" [routerLink]="['/canciones/editar', 0]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FCE700" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                            <button class="btn text-center ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#E26868" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </span>
                    </span>
                    <h6 class="card-subtitle mb-2 text-muted">Cantante</h6>
                    <a href="#" class="btn btn-danger">Youtube</a>
                    <a href="#" class="btn btn-success ms-2">Spotify</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card w-100" style="width: 18rem;">
                <div class="card-body">
                    <span class="d-flex justify-content-between">
                        <h5 class="card-title">Titulo</h5>
                        <span>
                            <button class="btn" [routerLink]="['/canciones/editar', 0]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FCE700" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                            <button class="btn text-center ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#E26868" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </span>
                    </span>
                    <h6 class="card-subtitle mb-2 text-muted">Cantante</h6>
                    <a href="#" class="btn btn-danger">Youtube</a>
                    <a href="#" class="btn btn-success ms-2">Spotify</a>
                </div>
            </div>
        </div>
    </div>
</div>