<div class="mt-3">
    <div class="d-flex flex-column align-items-center">
        <div class="row mt-2">
            <app-buscador
                (onEnter)="sugerencias($event)"
                (onDebounce)="sugerencias($event)"
                (focusout)="onFocusOut()"></app-buscador>
        </div>
        <ul *ngIf="mostrarSugerencias"
            class="list-group w-25 mt-5"
            style="position: absolute">
            <li *ngFor="let cancion of cancionesSugeridas"
                (click)="buscar(cancion.id)"
                class="list-group-item">
                {{ cancion.name }}
            </li>
        </ul>
    </div>
    <div *ngFor="let cancion of canciones"
        class="container mt-4">
        <div class="container">
            <div class="row d-flex justify-content-start mx-4">
                <app-cancion [cancion]="cancion"></app-cancion>
            </div>
        </div>
    </div>
</div>
<div *ngIf="canciones.length === 0"
     class="d-flex flex-column align-items-center mt-5">
    <p>
        Busca una cancion :)
    </p>
    <iframe src="https://giphy.com/embed/4oMoIbIQrvCjm" width="480" height="369" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>